{% extends '::base_sin_menu.html.twig' %}
{% block title %}Gestión del desempeño detalle nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Gestión desempeño: detalle concepto nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Gestión desempeño</a></li>
            <li class="active">Detalle concepto nuevo</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        

        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>

                <th>CÓDIGO</th>
                <th>TIPO CONCEPTO</th>
                <th>CONCEPTO</th> 
                <th></th>
            </tr>

            {%for arDesempenoConceptos in arDesempenoConceptos %}
                <tr>
                    <td>{{arDesempenoConceptos.codigoDesempenoConceptoPk}}</td>
                    <td>{{arDesempenoConceptos.desempenoConceptoTipoRel.nombre}}</td>
                    <td>{{arDesempenoConceptos.nombre}}</td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arDesempenoConceptos.codigoDesempenoConceptoPk }}" /></td>
                    {%endfor%}
            </tr>            
        </table>    

        <div class="modal-footer">            
            {{ form_widget(form.BtnAgregar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}