{% extends '::base_sin_menu.html.twig' %}
{% block title %}Factura detalle servicio nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Factura: detalle servicio nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Factura</a></li>
            <li class="active">Detalle servicio nuevo</li>
        </ol>
    </section>    
    <section class="content">        	        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}            
    <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>ID</th>                
                <th style="text-align: right">BASICO</th>
                <th style="text-align: right">PRE</th>
                <th style="text-align: right">NO_PRE</th>
                <th style="text-align: right">TTE</th>
                <th style="text-align: right">PENSION</th>
                <th style="text-align: right">SALUD</th>
                <th style="text-align: right">RIESGOS</th>
                <th style="text-align: right">CAJA</th>
                <th style="text-align: right">SENA</th>
                <th style="text-align: right">ICBF</th>
                <th style="text-align: right">PRESTACIONES</th>
                <th style="text-align: right">VACACIONES</th>
                <th style="text-align: right">A_PARAF</th>
                <th style="text-align: right">ADMON</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for arCobros in arCobros %}
                <tr>
                    <td><input type="hidden" name="LblCodigo[]" value="{{ arCobros.codigoCobroPk }}">{{ arCobros.codigoCobroPk }} </td>                                    
                    <td style="text-align: right">{{ arCobros.vrBasico | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrPrestacional | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrNoPrestacional | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrAuxilioTransporte | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrPension | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrSalud | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrRiesgos | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrCaja | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrSena | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrIcbf | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrPrestaciones | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrVacaciones | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrAporteParafiscales | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ arCobros.vrAdministracion | number_format(2, '.', ',') }}</td>
                    <td style="text-align: center"><a href="{{ path('brs_rhu_cobro_nuevo', { 'codigoCobro':  arCobros.codigoCobroPk }) }}" ><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" title="Editar registro" width=20 height=20 title="Editar el registro"></a></td>
                    <td style="text-align: center"><a href="{{ path('brs_rhu_cobro_detalle', { 'codigoCobro': arCobros.codigoCobroPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22 title="Detalles del registro"></a></td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arCobros.codigoCobroPk }}" /></td>
                </tr>
            {% endfor %}                               
    </table>
    {{ knp_pagination_render(arCobros) }}
    <div class="modal-footer">                
        {{ form_widget(form.BtnAgregar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div> 
    <br />
    {{ form_end(form) }}
    <br/><br/><br/><br/>
</section>
{% endblock %}