{% extends '::base2.html.twig' %}
{% block title %}Factura detalle - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Factura: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Factura</a></li>
            <li class="active">Detalle</li>
        </ol>
    </section>    
    <section class="content">        	       
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_facturas_nuevo', {'codigoFactura': 0 }) }}">Nuevo</a>
                {% if arFactura.estadoAutorizado == 0 %}
                    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_facturas_nuevo', {'codigoFactura': arFactura.codigoFacturaPk }) }}">Editar</a>
                {% endif %}
                {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnVistaPrevia, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnAnular, { 'attr': {'class': 'btn btn-default btn-sm', 'onclick': 'return confirm("Esta seguro de anular la factura?")'} }) }}
            </div>
        </div>
        <div style="float:right">
            {% if arFactura.estadoAutorizado == 1 %}<span class="label label-default">Autorizado</span>{% endif %}
            {% if arFactura.numero != 0 %}<span class="label label-success">Impreso</span>{% endif %}            
            {% if arFactura.estadoAnulado == 1 %}<span class="label label-danger">Anulado</span>{% endif %}
        </div>
        <br /><br />
        <!-- Encabezado Movimiento -->
        <div class="panel panel-default">
            <div class="panel-heading">Información general factura</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered ">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td>{{ arFactura.codigoFacturaPk }}</td>
                        <td class="titulo">FECHA:</td>
                        <td class="td-in-well">{{ arFactura.fecha|date("Y/m/d") }}</td>
                        <td class="titulo">SUBTOTAL:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrSubtotal | number_format(0, '.', ',') }}</td>                   
                    </tr>
                    <tr>
                        <td class="titulo">NUMERO:</td>
                        <td class="td-in-well">{{ arFactura.numero }}</td>
                        <td class="titulo">VENCE:</td>
                        <td class="td-in-well">{{ arFactura.fechaVence|date("Y/m/d") }}</td>
                        <td class="titulo">BASE AIU:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrBaseAIU | number_format(0, '.', ',') }}</td>                   
                    </tr>
                    <tr>
                        <td class="titulo">CLIENTE:</td>
                        <td class="td-in-well">{{ arFactura.clienteRel.nombreCorto }}</td>
                        <td class="titulo">PLAZO:</td>
                        <td>{{ arFactura.plazoPago | number_format(0, '.', ',') }}</td>                        
                        <td class="titulo">IVA:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrIva | number_format(0, '.', ',') }}</td>                        
                    </tr>    
                    <tr>
                        <td class="titulo">SERVICIO:</td>
                        <td class="td-in-well">{{ arFactura.facturaServicioRel.nombre }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well-numerico" align="right"></td>
                        <td class="titulo">RETENCION IVA:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionIva | number_format(0, '.', ',') }}</td>
                    </tr>                 
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">ADMINISTRACION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrTotalAdministracion | number_format(0, '.', ',') }}</td>
                        <td class="titulo">RETENCION FUENTE:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionFuente | number_format(0, '.', ',') }}</td>
                    </tr> 
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">INGRESO MISION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrIngresoMision | number_format(0, '.', ',')}}</td>
                        <td class="titulo">RETENCION CREE:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionCree | number_format(0, '.', ',') }}</td>
                    </tr>                 
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">EXAMENES:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrExamen | number_format(0, '.', ',')}}</td>
                        <td class="titulo">TOTAL BRUTO:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrBruto | number_format(0, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">SELECCION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrSeleccion | number_format(0, '.', ',')}}</td>
                        <td class="titulo">TOTAL NETO:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrNeto | number_format(0, '.', ',') }}</td>
                    </tr>                
                    <tr>
                        <td class="titulo">COMENTARIOS:</td>
                        <td colspan="7"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Fin Encabezado Movimiento -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#detalle" data-toggle="tab">Detalle</a></li>
        </ul>    
        <div class="tab-content">
            <div class="tab-pane active" id="detalle">
                <div id="servicios" style="width: 100%"><br>
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>ID</th>
                            <th>COBRO</th>
                            <th>CONCEPTO</th>
                            <th>OPERACION</th>
                            <th>ADMON</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO</th>
                            <th>%_IVA</th>
                            <th>IVA</th>
                            <th>SUBTOTAL</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionarServicio[]');"/></th>
                        </tr>

                        {% for arFacturaDetalles in arFacturaDetalles %}
                            <tr> 
                                <td><input type="hidden" name="LblCodigo[]" value="{{ arFacturaDetalles.codigoFacturaDetallePk }}">{{ arFacturaDetalles.codigoFacturaDetallePk }}</td>                                  
                                <td style="text-align: right">{{ arFacturaDetalles.codigoCobroFk }}</td>
                                <td>{{ arFacturaDetalles.facturaConceptoRel.nombre | default('') }}</td>
                                <td style="text-align: right">{{ arFacturaDetalles.VrOperacion | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetalles.VrAdministracion | number_format(0, '.', ',') }}</td>
                                {% if arFactura.estadoAutorizado == 0 %}
                                    <td style="text-align: right"><input class="input-grid" type="text" name="TxtCantidad{{ arFacturaDetalles.codigoFacturaDetallePk }}" value="{{ arFacturaDetalles.cantidad  }}" size="20" style="width:120px; text-align: right" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                                    
                                    <td style="text-align: right"><input class="input-grid" type="text" name="TxtPrecio{{ arFacturaDetalles.codigoFacturaDetallePk }}" value="{{ arFacturaDetalles.vrPrecio  }}" size="20" style="width:120px; text-align: right" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                                    
                                {% else %}
                                    <td style="text-align: right">{{ arFacturaDetalles.cantidad | number_format(0, '.', ',') }}</td>                                    
                                    <td style="text-align: right">{{ arFacturaDetalles.vrPrecio | number_format(0, '.', ',') }}</td>                                                                        
                                {% endif %}                                                                                                
                                <td style="text-align: right">{{ arFacturaDetalles.porIva | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetalles.VrIva | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetalles.VrSubtotal | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionarServicio[]" value="{{ arFacturaDetalles.codigoFacturaDetallePk }}" /></td>
                            </tr>
                        {% endfor %} 
                    </table>
                    <!-- Fin Botones Menu Items -->
                    <div class="btn-toolbar" style="float:right">
                        <div class="btn-group">
                            {{ form_widget(form.BtnDetalleExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                        
                        </div>
                        <div class="btn-group">
                            {% if arFactura.estadoAutorizado == 0 %}
                                {% if arFactura.facturaTipoRel.tipo == 1 %}
                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_facturas_detalle_nuevo_servicio', {'codigoFactura': arFactura.codigoFacturaPk}) }}', 'nuevoDetalleServicio', 600, 1000)" >Nuevo</a>
                                {% endif %}
                                {% if arFactura.facturaTipoRel.tipo == 2 %}
                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_factura_detalle_nuevo', {'codigoFactura': arFactura.codigoFacturaPk, 'codigoFacturaDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 900)">Nuevo concepto</a>                                    
                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_factura_detalle_factura_nuevo', {'codigoFactura': arFactura.codigoFacturaPk, 'tipoCruce': 1}) }}', 'nuevoDetalleFactura', 600, 1000)" >Nuevo</a>
                                {% endif %}
                                {% if arFactura.facturaTipoRel.tipo == 3 %}                                    
                                    
                                {% endif %}                                 
                                
                            {% endif %}    
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.BtnDetalleActualizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                        </div>                        
                        <div class="btn-group">
                            {{ form_widget(form.BtnEliminarDetalleServicio, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}                        
                        </div>
                    </div>            
                </div>
            </div>                   
        </div>                        

        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_facturas_lista') }}" style="float:left">Volver</a>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
