{% extends '::base2.html.twig' %}
{% block title %}Contabilidad analizar inconsistencias - Soga App{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contabilidad
            <small>Analizar inconsistencias: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Contabilidad</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Utilidad</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Analizar inconsistencias</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Desde</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaDesde, {'attr': {'maxlength' : 10} }) }}
                    </div>      
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Hasta</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaHasta, {'attr': {'maxlength' : 10} }) }}
                    </div>        
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>CODIGO</th>              
                <th>DESCRIPCION</th>
            </tr>
            {% for arInconsistencias in arInconsistencias %}
                    <tr class="danger">
                        <td>{{ arRegistros.codigoInconsistenciaPk }}</td>
                        <td>{{ arRegistros.descripcion  }}</td>
                    </tr>
            {% endfor %}           
        </table>

        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}

