{% extends '::base2.html.twig' %}
{% block title %}Contenido  nuevo - Soga App{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            General
            <small>formato: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> General</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Formato</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>   
    <section class="content">  
        <script type="text/javascript">
            $(document).ready(function () {
                $('.date').datepicker({dateFormat: 'yy-mm-dd', dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"], monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre"], monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]})
            });
        </script>    
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Titulo:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.titulo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Codigo formato:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.codigoFormatoIso, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>                    
                    <label class="col-sm-2 control-label">Versión:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.version, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_fechaVersion" class="col-sm-2 control-label">Fecha versión:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.fechaVersion, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Requiere formato Iso:</label>
                    <div class="col-sm-1">
                        {{ form_widget(form.requiereFormatoIso, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>                    
                </div>        
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Margen izquierda:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.margenIzquierda, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Margen derecha:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.margenDerecha, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>                      
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contenido:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.contenido, { 'attr': {'class': 'form-control', 'rows': 20} }) }}
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-sm-2 control-label">Etiquetas:</label>
                    <div class="col-sm-10">
                        {{ arContenido.etiqueta }}
                    </div>
                </div>                    
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_gen_base_contenido_lista') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>            
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
