{% extends '::base_sin_menu.html.twig' %}
{% block title %}Provision periodo nuevo - Soga App{% endblock %}
{% block content %}
        <section class="content-header">
        <h1>
            Recurso humano
            <small>Provision periodo: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimiento</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Provision periodo</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content"> 
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}    
    <div class="panel panel-default">
        <div class="panel-heading">Informacion</div>
        <div class="panel-body">                               
            <div class="form-group form-group-sm">
                <label for="form_fechaDesde" class="col-sm-3 control-label">Desde:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.fechaDesde, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaHasta" class="col-sm-3 control-label">Hasta:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.fechaHasta, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>                
        </div>
    </div>                   
    <div class="modal-footer">        
        {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
    </div>    
    {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>      
{% endblock %}