{% extends '::base2.html.twig' %}
{% block title %}Vacación nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Vacación: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Vacación</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content">        	
        <script type="text/javascript">
            $(document).ready(function () {
                $('.date').datepicker({dateFormat: 'yyyy-mm-dd', dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"], monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre"], monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]})
            });
        </script>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.pagoBancoTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                    <label for="form_cuentaRel" class="col-sm-2 control-label">Cuenta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cuentaRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>                    
                </div>            

                <div class="form-group form-group-sm">
                    <label for="form_descripcion" class="col-sm-2 control-label">Descripción:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.descripcion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                    <label for="form_secuencia" class="col-sm-2 control-label">Secuencia:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.secuencia, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>                    
                </div> 
                <div class="form-group form-group-sm">
                    <label for="form_fechaTrasmision" class="col-sm-2 control-label">Fecha transmisión:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaTrasmision) }}
                    </div>
                    <label for="form_fechaAplicacion" class="col-sm-2 control-label">Fecha aplicación:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaAplicacion) }}
                    </div>                    
                </div>                  
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_pago_banco') }}">Cancelar</a>                
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>    
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
