{% extends '::base_sin_menu.html.twig' %}
{% block title %}Ver resumen puesto - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programaciones novedad
            <small>Programaciones: ver programacion</small>
        </h1>        
    </section>    
    <section class="content">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th colspan="3">RECURSO</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
                <th>H</th>
                <th>P.D</th>
                <th></th>
            </tr>
            {% set intCodigoCliente = '' %}
            {% for arProgramacionDetalle in arProgramacionDetalles %}
                {% if intCodigoCliente != arProgramacionDetalle.programacionRel.codigoClienteFk %}
                    <tr>
                        <td id="suptipo" colspan="38"><b>{{ arProgramacionDetalle.programacionRel.clienteRel.nombreCorto | default('') }}</b></td>
                    </tr>
                    {% set intCodigoCliente = arProgramacionDetalle.programacionRel.codigoClienteFk %}
                    {% set intCodigoPuesto = '' %}
                {% endif %}
                {% if intCodigoPuesto != arProgramacionDetalle.codigoPuestoFk %}
                    <tr>
                        <td colspan="3"></td>
                        <td id="suptipo" colspan="38">{{ arProgramacionDetalle.puestoRel.nombre | default('') }}</td>
                    </tr>
                    {% set intCodigoPuesto = arProgramacionDetalle.codigoPuestoFk %}
                {% endif %}
                <tr>
                    <td>{{ arProgramacionDetalle.codigoRecursoFk }}</td>
                    <td>{{ arProgramacionDetalle.recursoRel.numeroIdentificacion | default('') }}</td>
                    <td>{{ arProgramacionDetalle.recursoRel.nombreCorto | default('') }}</td>                    
                    <td>{{ arProgramacionDetalle.dia1  }}</td>
                    <td>{{ arProgramacionDetalle.dia2  }}</td>
                    <td>{{ arProgramacionDetalle.dia3  }}</td>
                    <td>{{ arProgramacionDetalle.dia4  }}</td>
                    <td>{{ arProgramacionDetalle.dia5  }}</td>
                    <td>{{ arProgramacionDetalle.dia6  }}</td>
                    <td>{{ arProgramacionDetalle.dia7  }}</td>
                    <td>{{ arProgramacionDetalle.dia8  }}</td>
                    <td>{{ arProgramacionDetalle.dia9  }}</td>
                    <td>{{ arProgramacionDetalle.dia10  }}</td>
                    <td>{{ arProgramacionDetalle.dia11  }}</td>
                    <td>{{ arProgramacionDetalle.dia12  }}</td>
                    <td>{{ arProgramacionDetalle.dia13  }}</td>
                    <td>{{ arProgramacionDetalle.dia14  }}</td>
                    <td>{{ arProgramacionDetalle.dia15  }}</td>
                    <td>{{ arProgramacionDetalle.dia16  }}</td>
                    <td>{{ arProgramacionDetalle.dia17  }}</td>
                    <td>{{ arProgramacionDetalle.dia18  }}</td>
                    <td>{{ arProgramacionDetalle.dia19  }}</td>
                    <td>{{ arProgramacionDetalle.dia20  }}</td>
                    <td>{{ arProgramacionDetalle.dia21  }}</td>
                    <td>{{ arProgramacionDetalle.dia22  }}</td>
                    <td>{{ arProgramacionDetalle.dia23  }}</td>
                    <td>{{ arProgramacionDetalle.dia24  }}</td>
                    <td>{{ arProgramacionDetalle.dia25  }}</td>
                    <td>{{ arProgramacionDetalle.dia26  }}</td>
                    <td>{{ arProgramacionDetalle.dia27  }}</td>
                    <td>{{ arProgramacionDetalle.dia28  }}</td>
                    <td>{{ arProgramacionDetalle.dia29  }}</td>
                    <td>{{ arProgramacionDetalle.dia30  }}</td>
                    <td>{{ arProgramacionDetalle.dia31  }}</td>
                    <td style="text-align: right">{{ arProgramacionDetalle.horas | number_format(0, '.', ',') }}</td>
                    <td>{{ arProgramacionDetalle.codigoPedidoDetalleFk }}</td>
                    <td></td>                    
                </tr>
            {% endfor %}
        </table>
        <br/><br/>
    </section>
{% endblock %}
