{% extends '::base_sin_menu.html.twig' %}
{% block title %}Configurar vacacion - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Provision</small>
        </h1>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Imputacion contable</div>
            <div class="panel-body">
                <div>                      
                    <table class="table table-striped table-bordered table-condensed table-hover">
                        <tr>
                            <th>CÓDIGO</th>
                            <th>NOMBRE</th>
                            <th>EMPLEADO TIPO</th>
                            <th>CUENTA</th>
                            <th>NATURALEZA</th>
                        </tr>
                        {% for arConfiguracionProvision in arConfiguracionProvision %}
                            <tr>
                                <td>
                                    <input type="hidden" name="LblCodigoCuenta[]" value="{{ arConfiguracionProvision.codigoConfiguracionProvisionPk }}"><span class="badge">{{ arConfiguracionProvision.codigoConfiguracionProvisionPk }}</span>
                                </td>
                                <td>{{ arConfiguracionProvision.nombre }}</td>
                                <td>{{ arConfiguracionProvision.empleadoTipoRel.nombre }}</td>
                                <td style="text-align: left"><input class="input-grid" type="text" name="TxtCodigoCuenta{{ arConfiguracionProvision.codigoConfiguracionProvisionPk }}" value="{{ arConfiguracionProvision.codigoCuentaFk }}" size="10" style="text-align: right; width:100px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                               
                                <td>{{ arConfiguracionProvision.tipoCuenta }}</td>
                            </tr>
                        {% endfor %}
                    </table>                                
                    <div class="form-group form-group-sm">
                        <label class="col-sm-4 control-label">Codigo comprobante:</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.TxtCodigoComprobante) }}
                        </div>
                    </div>                    
                </div>                      
            </div>
        </div>                   
        <div class="modal-footer">        
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
        </div>        
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}