{% extends '::base2.html.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
<section class="content-header">
        <h1>
            Programacion turnos
            <small>Turno: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Turno</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Turno</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>     
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_codigoTurnoPk" class="col-sm-2 control-label">Codigo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.codigoTurnoPk, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}
                    </div>
                    <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_horaDesde" class="col-sm-2 control-label">Hora desde:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horaDesde) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_horaHasta" class="col-sm-2 control-label">Hora hasta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horaHasta) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_horas" class="col-sm-2 control-label">Horas:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horas) }}
                        <p style="font-size: 0.8em;">* Horas para la programacion.</p>
                        <div class="text-danger">{{ form_errors(form.horas) }}</div>
                    </div>
                    <label for="form_horasNomina" class="col-sm-2 control-label">Horas nomina:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horasNomina) }}
                        <p style="font-size: 0.8em;">* Horas para el pago de nomina.</p>
                        <div class="text-danger">{{ form_errors(form.horasNomina) }}</div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_horasDiurnas" class="col-sm-2 control-label">Horas diurnas:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horasDiurnas) }}
                        <div class="text-danger">{{ form_errors(form.horasDiurnas) }}</div>
                    </div>
                    <label for="form_horasNocturnas" class="col-sm-2 control-label">Horas nocturnas:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.horasNocturnas) }}
                        <div class="text-danger">{{ form_errors(form.horasNocturnas) }}</div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.turnoCompleto) }}</div>
                        <div class="col-sm-2">{{ form_row(form.complementario) }}</div>
                        <div class="col-sm-2">{{ form_row(form.novedad) }}</div>
                        <div class="col-sm-2">{{ form_row(form.descanso) }}</div>
                        <div class="col-sm-2">{{ form_row(form.incapacidad) }}</div>
                        <div class="col-sm-2">{{ form_row(form.incapacidadNoLegalizada) }}</div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.licencia) }}</div>
                        <div class="col-sm-2">{{ form_row(form.licenciaNoRemunerada) }}</div>
                        <div class="col-sm-2">{{ form_row(form.vacacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.ingreso) }}</div>
                        <div class="col-sm-2">{{ form_row(form.retiro) }}</div>
                        <div class="col-sm-2">{{ form_row(form.induccion) }}</div>
                    </div>
                </div>                  
                <div class="form-group">
                    <label for="form_comentarios" class="col-sm-2 control-label">Comentarios:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_tur_base_turno') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}