{% extends '::base_sin_menu.html.twig' %}
{% block title %}Control acceso nuevo - Soga App{% endblock %}
{% block content %}
        <section class="content-header">
        <h1>
            Recurso humano
            <small>Horario: cargar registro</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Utilidades</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Cargar Registros</a></li>
            <li class="active">Cargar Registros</li>
        </ol>
    </section>    
    <section class="content"> 
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Cargar archivo</div>
        <div class="panel-body">
            <div>                      
                <div class="form-group form-group-sm">
                    <label for="form_cargar" class="col-sm-2 control-label">Cargar:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.attachment, { 'attr': {'class': 'btn btn-sm btn-default'} }) }}            
                    </div>
                </div>                                
            </div>                                            
        </div>
    </div>                       
    <div class="modal-footer">        
        {{ form_widget(form.BtnCargar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
    </div>   
    <table  class="table table-striped table-bordered table-condensed table-hover">            
        <tr>
            <th>Error</th>                
        </tr>            
        {% for arrErrores in arrErrores %}
            <tr>
                <td>{{ arrErrores.error  }}</td>                
            </tr>            
        {% endfor %}                        
    </table>    
    {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>      
{% endblock %}