{% extends '::base2.html.twig' %}
{% block title %}Detalle de programacion - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion de turnos
            <small>Recurso: disponible</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Consultas</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Recurso</a></li>
            <li class="active">Disponible</li>
        </ol>
    </section>    
    <section class="content"> 
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>    
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_TxtCodigo" class="col-sm-2 control-label">Fecha:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.fecha) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>COD</th>
                <th></th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th>TIPO</th>
                <th>TELEFONO</th>
                <th>CELULAR</th>
                <th>TURNO</th>
                <th></th>
            </tr>
            {% for arRecurso in arRecurso %}
                <tr>
                    <td>{{ arRecurso.codigoRecursoPk  }}</td>   
                    <td>
                        {% if arRecurso.rutaFoto != '' %} 
                            <img src="{{ arRecurso.rutaFoto }}" width=50 height=50>
                        {% endif %}
                    </td>
                    <td>{{ arRecurso.numeroIdentificacion  }}</td>
                    <td>{{ arRecurso.nombreCorto  }}</td>
                    <td>{{ arRecurso.tipo  }}</td>
                    <td>{{ arRecurso.telefono  }}</td>
                    <td>{{ arRecurso.celular  }}</td>
                    <td>{{ arRecurso.nombreTurno  }}</td>
                    <td><a href="javascript:abrirVentana3('{{ path('brs_tur_consultas_recursos_disponibles_programacion', { 'anio': anio, 'mes': mes, 'codigoRecurso': arRecurso.codigoRecursoPk }) }}', 'buscarCliente', 600, 900)">Ver programaciones</a></td>
                </tr>
            {% endfor %}
        </table>

        <!-- Botones Menu Items -->
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge"></span></div>                        
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
