{% extends '::base_sin_menu.html.twig' %}
{% block title %}Pedido detalle nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Pedido: nuevo detalle</small>
        </h1>
    </section>    
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion</div>
            <div class="panel-body"> 
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Servicio:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.conceptoServicioRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Servicio (facturacion):</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.conceptoServicioFacturacionRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Modalidad:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.modalidadServicioRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Grupor facturacion:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.grupoFacturacionRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>                    
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Puesto:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.puestoRel, { 'attr': {'class': 'form-control'} }) }}   
                    </div>
                    <label class="col-sm-2 control-label">Cantidad:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cantidad, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div> 
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.diaDesde, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>    
                    <label class="col-sm-2 control-label">Periodo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.periodoRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>                     
                </div>     
                <div class="form-group form-group-sm">               
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.diaHasta, { 'attr': {'class': 'form-control'} }) }}                        
                    </div> 
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <label for="form_lunes"  class="control-label">Lun{{ form_widget(form.lunes) }}</label>
                        <label for="form_martes"  class="control-label">Mar{{ form_widget(form.martes) }}</label>
                        <label for="form_miercoles"  class="control-label">Mie{{ form_widget(form.miercoles) }}</label>
                        <label for="form_jueves"  class="control-label">Jue{{ form_widget(form.jueves) }}</label>
                        <label for="form_viernes"  class="control-label">Vie{{ form_widget(form.viernes) }}</label>
                        <label for="form_sabado"  class="control-label">Sab{{ form_widget(form.sabado) }}</label>
                        <label for="form_domingo"  class="control-label">Dom{{ form_widget(form.domingo) }}</label>
                        <label for="form_festivo"  class="control-label">Fes{{ form_widget(form.festivo) }}</label>
                    </div>                     
                </div>                      
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Detalle puesto:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.detallePuesto, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>   
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <label for="form_compuesto"  class="control-label">Compuesto{{ form_widget(form.compuesto) }}</label>
                        <label for="form_liquidarDiasReales"  class="control-label">Liquidar dias reales{{ form_widget(form.liquidarDiasReales) }}</label>
                        <label for="form_dia31"  class="control-label">Habilitar dia 31{{ form_widget(form.dia31) }}</label>
                    </div>                      
                </div>   
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Precio (Ajustado):</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrPrecioAjustado, { 'attr': {'class': 'form-control'} }) }}   
                    </div>
                    <label class="col-sm-2 control-label">Salario base (Liquidacion):</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrSalarioBase, { 'attr': {'class': 'form-control'} }) }}   
                    </div>                  
                </div>                                    
                <div class="form-group">
                    <label class="col-sm-2 control-label">Detalle:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.detalle, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                 
            </div>
        </div>               
        <div class="modal-footer">        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}