{% extends '::base2.html.twig' %}
{% block title %}Acreditacion detalle - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Acreditacion: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Acreditacion</a></li>
            <li class="active">Detalle</li>
        </ol>
    </section>    
    <section class="content">        	
       
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 21,  'numero': arAcreditacion.codigoAcreditacionPk }) }}', 'Archivos', 500, 800)" >Archivos</a>
            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_acreditacion_detalle_validar', { 'codigoAcreditacion': arAcreditacion.codigoAcreditacionPk }) }}', 'Validar', 500, 800)" >Validar</a>
            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_acreditacion_detalle_acreditar', { 'codigoAcreditacion': arAcreditacion.codigoAcreditacionPk }) }}', 'Acreditar', 500, 800)" >Acreditar</a>                                  
        </div>
        <br /> <br />
        <div class="panel panel-default">
            <div class="panel-heading">Información acreditacion</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CÓDIGO:</td>
                        <td class="td-in-well">{{ arAcreditacion.codigoAcreditacionPk }}</td>
                        <td class="titulo">FECHA:</td>
                        <td align="right">{{ arAcreditacion.fecha|date("Y/m/d") }}</td>                                               
                    </tr>                                       
                </table>
            </div>
        </div>
        <br />
        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_acreditacion') }}" style="float:left">Volver</a>
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
