{% extends '::base2.html.twig' %}
{% block title %}Acreditacion lista - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Acreditacion: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Acreditacion</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content">        	       
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_TxtIdentificacion" class="col-sm-2 control-label">Empleado:</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    {{ form_widget(form.txtNumeroIdentificacion, { 'attr': {'class': 'form-control'} }) }} 
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">                                      
                                    {{ form_widget(form.txtNombreCorto, { 'attr': {'class': 'form-control', 'readOnly': 'ReadOnly'} }) }}                              
                                    <span class="input-group-btn">                                        
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_buscar_empleado') }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="form-group form-group-sm">  
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Fecha vence desde:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.fechaDesde) }} 
                    </div>
                    <label class="col-sm-2 control-label">Rechazado:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.estadoRechazado, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Fecha vence hasta:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.fechaHasta) }} 
                    </div>
                    <label class="col-sm-2 control-label">Validado:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.estadoValidado, { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Fecha vence curso desde:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.fechaDesdeVenceCurso) }} 
                    </div>
                    <label class="col-sm-2 control-label">Acreditado:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.estadoAcreditado, { 'attr': {'class': 'form-control'} }) }}
                    </div> 
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_fechaHastaVenceCurso" class="col-sm-2 control-label">Fecha vence curso hasta:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.fechaHastaVenceCurso) }} 
                    </div>
                </div>
                <div class="form-group form-group-sm">  
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">                  
                        {{ form_widget(form.filtrarFecha) }}
                    </div>
                    <div class="col-sm-2">                  
                        {{ form_widget(form.filtrarFechaVenceCurso) }}
                    </div>
                                       
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>{{ knp_pagination_sortable(arAcreditaciones, 'CODIGO', 'ee.codigoAcreditacionPk') }}</th>
                <th>DOCUMENTO</th>
                <th>{{ knp_pagination_sortable(arAcreditaciones, 'NOMBRE', 'e.nombreCorto') }}</th>                
                <th>TIPO</th>
                <th>VENCE CURSO</th>
                <th>CARGO</th>
                <th>REGISTRO</th>                
                <th><p style="margin: 0" data-toggle="tooltip" data-placement="top" title="Rechazado">REC</p></th>
                <th><p style="margin: 0" data-toggle="tooltip" data-placement="top" title="Validado">VAL</p></th>
                <th>FECHA VAL</th>                
                <th><p style="margin: 0" data-toggle="tooltip" data-placement="top" title="Acreditado">ACR</p></th> 
                <th>FECHA ACR</th>
                <th>VENCE ACR</th>
                <th>CONTRATO ACTIVO</th>
                <th style="text-align: center"></th>                
                <th></th>
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionar[]');"/></th>
            </tr>
            {% for arAcreditaciones in arAcreditaciones %}
                <tr>
                    <td>{{ arAcreditaciones.codigoAcreditacionPk }} </td>
                    <td>{{ arAcreditaciones.empleadoRel.numeroIdentificacion  }}</td>
                    <td>{{ arAcreditaciones.empleadoRel.nombreCorto  }}</td>                                                
                    <td>{{ arAcreditaciones.acreditacionTipoRel.nombre |default('value') }}</td>                                                
                    <td>{{ arAcreditaciones.fechaVenceCurso |date('Y/m/d') }}</td>                                               
                    <td>{{ arAcreditaciones.acreditacionTipoRel.cargo |default('value') }}</td>                                                                
                    <td>{{ arAcreditaciones.numeroRegistro }}</td>                               
                    <td>{% if arAcreditaciones.estadoRechazado == 1 %} SI [{{ arAcreditaciones.acreditacionRechazoRel.nombre | default('') }}] {% else %} NO {% endif %}</td>                 
                    <td>{% if arAcreditaciones.estadoValidado == 1 %} SI [{{ arAcreditaciones.numeroValidacion }}] {% else %} NO {% endif %}</td>                 
                    <td>{% if arAcreditaciones.estadoValidado == 1 %}{{ arAcreditaciones.fechaValidacion | date('Y/m/d') }}{% endif %}</td>                                                
                    <td>{% if arAcreditaciones.estadoAcreditado == 1 %} SI {% else %} NO {% endif %}</td>                                                
                    <td>{% if arAcreditaciones.estadoAcreditado == 1 %}{{ arAcreditaciones.fechaAcreditacion | date('Y/m/d') }}{% endif %}</td>                                                
                    <td>{% if arAcreditaciones.estadoAcreditado == 1 %}{{ arAcreditaciones.fechaVencimiento | date('Y/m/d') }}{% endif %}</td>
                    <td>{% if arAcreditaciones.empleadoRel.estadoContratoActivo == 1%}SI {% else %} NO {% endif %}</td>
                    <td style="text-align: center">{% if arAcreditaciones.estadoValidado == 0 %}<a href="{{ path('brs_rhu_movimiento_acreditacion_nuevo', {'codigoAcreditacion': arAcreditaciones.codigoAcreditacionPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a>{% endif %}</td>                
                    <td style="text-align: center"><a href="{{ path('brs_rhu_movimiento_acreditacion_detalle', { 'codigoAcreditacion': arAcreditaciones.codigoAcreditacionPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                                    
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arAcreditaciones.codigoAcreditacionPk }}" /></td>
                </tr>
            {% endfor %}
        </table>

        <!-- Botones Menu Items -->.
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Estudios <span class="badge">{{ arAcreditaciones.getTotalItemCount }}</span></div>
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arAcreditaciones) }}
        </div>
        <div class="btn-toolbar" style="float: right">            
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_acreditacion_cargar_validacion') }}', 'cargarValidacion', 600, 900)" >Cargar validacion</a>
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_movimiento_acreditacion_cargar_acreditacion') }}', 'cargarAcreditacion', 600, 900)" >Cargar acreditacion</a>
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnExcelInforme, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_acreditacion_nuevo', {'codigoAcreditacion': 0}) }}">Nuevo</a>
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm', 'onclick': 'return confirm("Esta seguro de eliminar el registro?")'} }) }}
            </div>
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
