{% extends '::base2.html.twig' %}
{% block title %}Cobro detalle - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Cobro: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Cobro</a></li>
            <li class="active">Detalle</li>
        </ol>
    </section>    
    <section class="content">        	        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_cobro_nuevo', {'codigoCobro': 0 }) }}">Nuevo</a>
                {% if arCobro.estadoAutorizado == 0 %}
                    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_cobro_nuevo', {'codigoCobro': arCobro.codigoCobroPk }) }}">Editar</a>
                {% endif %}
                {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
                {{ form_widget(form.BtnAnular, { 'attr': {'class': 'btn btn-default btn-sm', 'onclick': 'return confirm("Esta seguro de anular la cobro?")'} }) }}
            </div>
        </div>
        <div style="float:right">
            {% if arCobro.estadoAutorizado == 1 %}<span class="label label-default">Autorizado</span>{% endif %}                        
        </div>
        <br /><br />
        <!-- Encabezado Movimiento -->
        <div class="panel panel-default">
            <div class="panel-heading">Información general cobro</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered ">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td>{{ arCobro.codigoCobroPk }}</td>
                        <td class="titulo">FECHA:</td>
                        <td class="td-in-well">{{ arCobro.fecha|date("Y/m/d") }}</td>
                        <td class="titulo">BASICO:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrBasico | number_format(0, '.', ',') }}</td>                   
                    </tr>                    
                    <tr>
                        <td class="titulo">TIPO COBRO:</td>
                        {% if (arCobro.codigoCobroTipoFk is null) %}<td></td>{% else %}<td>{{ arCobro.cobroTipoRel.nombre }}</td>{% endif %}
                        <td class="titulo">SERVICIOS:</td>
                        <td class="td-in-well">{{ arCobro.numeroRegistros}}</td>
                        <td class="titulo">PRESTACIONAL:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrPrestacional | number_format(0, '.', ',') }}</td>                   
                    </tr>                     
                    <tr>
                        <td class="titulo">CLIENTE:</td>
                        <td>{{ arCobro.clienteRel.nombreCorto }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">NO PRESTACIONAL:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrNoPrestacional | number_format(0, '.', ',') }}</td>                   
                    </tr>      
                    <tr>
                        <td class="titulo">DESDE:</td>
                        <td>{{ arCobro.fechaDesde |date('Y-m-d') }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">AUXILIO TTE:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrAuxilioTransporte| number_format(0, '.', ',') }}</td>                   
                    </tr>   
                    <tr>
                        <td class="titulo">HASTA:</td>
                        <td>{{ arCobro.fechaHasta |date('Y-m-d') }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">PENSION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrPension | number_format(0, '.', ',') }}</td>                   
                    </tr>                         
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">SALUD:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrSalud | number_format(0, '.', ',') }}</td>                   
                    </tr>                       
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">RIESGOS:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrRiesgos | number_format(0, '.', ',') }}</td>                   
                    </tr>  
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">CAJA:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrCaja | number_format(0, '.', ',') }}</td>                   
                    </tr>                      
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">SENA:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrSena | number_format(0, '.', ',') }}</td>                   
                    </tr>                      
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">ICBF:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrIcbf | number_format(0, '.', ',') }}</td>                   
                    </tr>    
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">PRESTACIONES:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrPrestaciones | number_format(0, '.', ',') }}</td>                   
                    </tr>                              
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">VACACIONES:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrVacaciones | number_format(0, '.', ',') }}</td>                   
                    </tr>        
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">A_PARAFISCAL:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrAporteParafiscales | number_format(0, '.', ',') }}</td>                   
                    </tr> 
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">OPERACION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrOperacion | number_format(0, '.', ',') }}</td>                   
                    </tr>   
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">ADMINISTRACION:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrAdministracion | number_format(0, '.', ',') }}</td>                   
                    </tr> 
                    <tr>
                        <td class="titulo"></td>
                        <td></td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">TOTAL:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arCobro.vrTotalCobro | number_format(0, '.', ',') }}</td>                   
                    </tr>                      
                    <tr>
                        <td class="titulo">COMENTARIOS:</td>
                        <td colspan="7"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Fin Encabezado Movimiento -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#servicios" data-toggle="tab">Servicios <span class="badge">{{ arServiciosCobrar.getTotalItemCount }}</span></a></li>
            <li><a href="#examenes" data-toggle="tab">Examenes <span class="badge">{{ arExamenes.getTotalItemCount }}</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="servicios">
                <div id="servicios" style="width: 100%"><br>
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>ID</th>
                            <th>PAGO</th>
                            <th>DOC</th>
                            <th>EMPLEADO</th>
                            <th>T</th>                            
                            <th>SALARIO</th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Ingreso base prestaciones">IBP</p></th>                            
                            <th><p data-toggle="tooltip" data-placement="top" title="Ingreso base cotizacion">IBC</p></th>                            
                            <th>BASICO</th>                
                            <th><p data-toggle="tooltip" data-placement="top" title="Horas extra y bonificaciones prestacionales">PRE</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Adicionales al pago no prestacionales">NO_PRE</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="subsidio de transporte">TTE</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes pension">PENSION</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes salud">SALUD</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes riesgos">RIESGOS</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Porcentaje riesgos">%</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes caja">CAJA</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes sena">SENA</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aportes icbf">ICBF</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Prestaciones sociales (cesantias, primas, intereses)">PRES</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Vacaciones">VAC</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Aporte parafiscales">A_PAR</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Cobro de la operacion">OPER</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Valor de la administracion">ADMON</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Porcentaje administracion">%</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Total cobro">TOTAL</p></th>                            
                            <th><p data-toggle="tooltip" data-placement="top" title="Novedad de ingreso">ING</p></th>
                            <th><p data-toggle="tooltip" data-placement="top" title="Novedad de retiro">RET</p></th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionarServicio[]');"/></th>
                        </tr>
                        {% set intCodigoProgramacion = '' %}
                        {% for arServicioCobrar in arServiciosCobrar %}
                            {% if intCodigoProgramacion != arServicioCobrar.codigoProgramacionPagoFk %}
                                <tr>                        
                                    <td id="suptipo" colspan="20"><b>{{ arServicioCobrar.fechaDesde |date("Y/m/d") }} - {{ arServicioCobrar.fechaHasta |date("Y/m/d") }} Porcentaje admin: {{ arServicioCobrar.porcentajeAdministracion | number_format(1, '.', ',') }}</b></td>
                                </tr>
                                {% set intCodigoProgramacion = arServicioCobrar.codigoProgramacionPagoFk %}                                
                            {% endif %}                            
                            <tr> 
                                <td><input type="hidden" name="LblCodigo[]" value="{{ arServicioCobrar.codigoServicioCobrarPk }}">{{ arServicioCobrar.codigoServicioCobrarPk }} </td>                                
                                <td style="text-align: center"><a href="{{ path('brs_rhu_pagos_detalle', { 'codigoPago': arServicioCobrar.codigoPagoFk }) }}" target="_blanck">{{ arServicioCobrar.pagoRel.numero  }}</a></td>
                                <td>{{ arServicioCobrar.empleadoRel.numeroIdentificacion  }}</td>
                                <td>{{ arServicioCobrar.empleadoRel.nombreCorto  }}</td>
                                <td>{{ arServicioCobrar.tipoTiempo  }}</td>                                
                                <td style="text-align: right">{{ arServicioCobrar.vrSalarioEmpleado | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrIngresoBasePrestacion | number_format(0, '.', ',') }}</td>                                
                                <td style="text-align: right">{{ arServicioCobrar.vrIngresoBaseCotizacion | number_format(0, '.', ',') }}</td>                                
                                <td style="text-align: right">{{ arServicioCobrar.vrSalario | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrPrestacional | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrNoPrestacional | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrAuxilioTransporte | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrPension | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrSalud | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrRiesgos | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.porcentajeRiesgos | number_format(3, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrCaja | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrSena | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrIcbf | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrPrestaciones | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrVacaciones | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrAporteParafiscales | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arServicioCobrar.vrOperacion | number_format(0, '.', ',') }}</td>                                
                                <td style="text-align: right">{{ arServicioCobrar.vrAdministracion | number_format(0, '.', ',') }}</td>                           
                                <td style="text-align: right">{{ arServicioCobrar.porcentajeAdministracion | number_format(1, '.', ',') }}</td>                           
                                <td style="text-align: right">{{ arServicioCobrar.vrTotalCobro | number_format(0, '.', ',') }}</td>                                                                
                                <td style="text-align: right">{{ arServicioCobrar.ingreso }}</td>                                
                                <td style="text-align: right">{{ arServicioCobrar.retiro }}</td>                                
                                <td style="text-align: center"><a href="javascript:abrirVentana3('{{ path('brs_rhu_cobro_detalle_editar', {'codigoServicioCobrar': arServicioCobrar.codigoServicioCobrarPk, 'codigoCobro': arCobro.codigoCobroPk}) }}', 'NuevaProgramacionPago', 600, 900)" ><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>                
                                <td><input type="checkbox" name="ChkSeleccionarServicio[]" value="{{ arServicioCobrar.codigoServicioCobrarPk }}" /></td>
                            </tr>
                        {% endfor %} 
                    </table>
                    <div class="btn-toolbar" style="float: left">
                        <div class="btn-group">                
                            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_cobro_lista') }}" style="float:left">Volver</a>
                        </div>
                        <!-- Botones Menu Items -->
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arServiciosCobrar.getTotalItemCount }}</span></div>                        
                        </div>
                    </div>
                    <!-- Fin Botones Menu Items -->
                    <div class="btn-toolbar" style="float:right">
                        <div class="btn-group">
                            {{ form_widget(form.BtnDetalleExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                        
                        </div>
                        <div class="btn-group">
                            {% if arCobro.estadoAutorizado == 0 %}
                                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_cobro_detalle_nuevo_servicio', {'codigoCobro': arCobro.codigoCobroPk}) }}', 'nuevoDetalleServicio', 600, 1000)" >Nuevo</a>
                            {% endif %}    
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.BtnEliminarDetalleServicio, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}                        
                        </div>
                    </div>            
                </div>
            </div>
            <!-- Tabla de examenes -->
            <div class="tab-pane" id="examenes">
                <div id="examenes" style="width: 100%"><br>
                    <table  class="table table-striped table-bordered table-condensed table-hover">
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th style="text-align: right">VALOR</th>
                            <th></th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodosTabla(this, 'ChkSeleccionarExamen[]');"/></th>
                        </tr>
                        {% for arExamenes in arExamenes %}
                            <tr>                
                                <td>{{ arExamenes.codigoExamenPk  }}</td>
                                <td>{{ arExamenes.nombreCorto }}</td>
                                <td style="text-align: right">{{ arExamenes.vrTotal | number_format(0, '.', ',') }}</td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionarExamen[]" value="{{ arExamenes.codigoExamenPk }}" /></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="btn-toolbar" style="float: left">
                        <div class="btn-group">                
                            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_cobro_lista') }}" style="float:left">Volver</a>
                        </div>
                        <!-- Botones Menu Items -->
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arExamenes.getTotalItemCount }}</span></div>                        
                        </div>
                    </div>
                    <!-- Fin Botones Menu Items -->
                    <div class="btn-toolbar" style="float:right">
                        <div class="btn-group">
                            {% if arCobro.estadoAutorizado == 0 %}
                                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_cobro_detalle_nuevo_examen', {'codigoCobro': arCobro.codigoCobroPk}) }}', 'nuevoDetalleExamen', 600, 1000)" >Nuevo</a>
                            {% endif %}
                        </div>
                        <div class="btn-group">
                            {{ form_widget(form.BtnEliminarDetalleExamen, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
