{% extends '::base2.html.twig' %}
{% block title %}Control puesto lista - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Control puesto: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimiento</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Control puesto</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content"> 
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>    
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Centro operacion:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.centroOperacionRel) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>{{ knp_pagination_sortable(arControlPuestos, 'CÓDIGO', 'p.codigoConctrolPuestoPk') }}</th>
                <th>CENTRAL OPERACION</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>USUARIO</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for arControlPuestos in arControlPuestos %}
                <tr>                
                    <td>{{ arControlPuestos.codigoControlPuestoPk  }}</td>
                    <td>{{ arControlPuestos.centroOperacionRel.nombre | default('') }}</td>
                    <td>{{ arControlPuestos.fecha|date('Y-m-d')  }}</td>
                    <td>{{ arControlPuestos.fecha|date('H:i:s')  }}</td>
                    <td>{{ arControlPuestos.usuario }}</td> 
                    <td>
                        {% if arControlPuestos.estadoGenerado == 0 %}
                            <button class="btn btn-default btn-xs" type="submit" name="OpGenerar" value="{{ arControlPuestos.codigoControlPuestoPk }}">Generar</button>
                        {% endif %}
                    </td>                         
                    <td style="text-align: center">{% if arControlPuestos.estadoGenerado == 0 %}<a href="{{ path('brs_tur_movimiento_control_puesto_nuevo', {'codigoControlPuesto': arControlPuestos.codigoControlPuestoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a>{% endif %}</td>                
                    <td style="text-align: center"><a href="{{ path('brs_tur_movimiento_control_puesto_detalle', { 'codigoControlPuesto': arControlPuestos.codigoControlPuestoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                                
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arControlPuestos.codigoControlPuestoPk }}" /></td>
                </tr>
              
            {% endfor %}
        </table>

        <!-- Botones Menu Items -->
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arControlPuestos.getTotalItemCount }}</span></div>                        
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arControlPuestos) }}       
        </div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">                                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">                                
                <a class="btn btn-default btn-sm" href="{{ path('brs_tur_movimiento_control_puesto_nuevo', {'codigoControlPuesto': 0}) }}">Nuevo</a>                                                
            </div>
            <div class="btn-group">                
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
            </div>
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
