{% extends '::base2.html.twig' %}
{% block title %}Prueba nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Prueba: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Prueba</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}           
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">                                    
                <div class="form-group form-group-sm">
                    <label for="form_txtNumeroIdentificacion" class="col-sm-2 control-label">Empleado:</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <input id="form_txtNumeroIdentificacion"  name="form_txtNumeroIdentificacion"  type="text" class="form-control" value="{{ arPrueba.empleadoRel.numeroIdentificacion |default('') }}"/>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">                                      
                                    <input id="form_txtNombreCorto"  name="form_txtNombreCorto"  type="text" class="form-control" value="{{ arPrueba.empleadoRel.nombreCorto |default('') }}" readOnly="ReadOnly" />
                                    <span class="input-group-btn">                                        
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_buscar_empleado') }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_pruebaTipoRel" class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.pruebaTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_nombreQuienHacePrueba" class="col-sm-2 control-label">Prueba asignada por:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nombreQuienHacePrueba, { 'attr': {'class': 'form-control'} })   }}                       
                    </div>           
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_resultado" class="col-sm-2 control-label">Resultado cualitativo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.resultado, { 'attr': {'class': 'form-control'} })  }}                       
                    </div>
                    <label for="form_resultadoCuantitativo" class="col-sm-2 control-label">Resultado cuantitativo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.resultadoCuantitativo, { 'attr': {'class': 'form-control'} })   }}                       
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_fechaVence" class="col-sm-2 control-label">Fecha:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fecha, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>
                <div class="form-group">
                    <label for="form_comentarios" class="col-sm-2 control-label">Comentarios:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.comentarios, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Informacion Comercial</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_vrTotal" class="col-sm-2 control-label">Valor prueba:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.vrTotal, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
            </div>                
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_prueba') }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>    
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}