{% extends '::base2.html.twig' %}
{% block title %}Reclamo detalle - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Reclamo: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Reclamo</a></li>
            <li class="active">Detalle</li>
        </ol>
    </section>    
    <section class="content">        	
        <script>
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        </script>        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <!-- Encabezado Movimiento -->
        <div class="panel panel-default">
            <div class="panel-heading">Información reclamo</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CÓDIGO:</td>
                        <td>{{ arReclamo.codigoReclamoPk }}</td>
                        <td class="titulo">FECHA:</td>
                        <td>{{ arReclamo.fecha | date('Y/m/d') }}</td>
                        <td class="titulo">CARGO</td>
                        <td>{{ arReclamo.empleadoRel.cargoRel.nombre |default('')}}</td>
                    </tr>
                    <tr>
                        <td class="titulo">RECLAMO:</td>
                        <td colspan="5" >{{ arReclamo.reclamo }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">COMENTARIOS:</td>
                        <td colspan="5" >{{ arReclamo.comentarios }}</td>
                    </tr>                
                </table>
            </div>
        </div>

        <!-- Fin Encabezado Movimiento -->

        {{ form_rest(form) }}
        {{ form_end(form) }}
        <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_reclamo') }}">Volver</a>
        <br/><br/><br/><br/>
    </section>
{% endblock %}
