{% extends '::base.html.twig' %}
{% block title %}Reclamo detalle - Soga App{% endblock %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Reclamo</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Información reclamo</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td>{{ arReclamo.codigoReclamoPk }}</td>
                    <td class="titulo">FECHA:</td>
                    <td>{{ arReclamo.fecha | date('Y/m/d') }}</td>
                    <td class="titulo">CARGO</td>
                    <td>{{ arReclamo.empleadoRel.cargoRel.nombre |default('')}}</td>
                </tr>
                <tr>
                    <td class="titulo">RECLAMO:</td>
                    <td colspan="5" >{{ arReclamo.reclamo }}</td>
                </tr>
                <tr>
                    <td class="titulo">COMENTARIOS:</td>
                    <td colspan="5" >{{ arReclamo.comentarios }}</td>
                </tr>                
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->
    
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_reclamo') }}">Volver</a>
</div>
{% endblock %}
