{% extends '::base_sin_menu.html.twig' %}
{% block title %}Capacitaci贸n detalle nota nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Capacitaci贸n: detalle nota nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Capacitaci贸n</a></li>
            <li class="active">Detalle nota nuevo</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <div class="panel panel-default">
            <div class="panel-heading">Informaci贸n general</div>
            <div class="panel-body">                                      
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contenido:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.nota, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control', 'rows': 20} }) }}
                    </div>
                </div>                               
            </div>
        </div>

        <div class="modal-footer">              
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
        </div>    
        {{ form_end(form) }}    
        <br/><br/><br/><br/>
    </section>
{% endblock %}