{% extends '::base2.html.twig' %}
{% block title %}Adicional al pago nuevo periodo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Adicional al pago: nuevo periodo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Adicional al pago</a></li>
            <li class="active">Nuevo periodo</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Fecha:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.fecha) }}
                    </div>
                </div>                                            
            </div>
        </div>    
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_pagos_adicionales_lista_fecha', { 'modalidad': 2 }) }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>    
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}