{% extends '::base2.html.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Lista precio: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Cliente</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Lista precio</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">                                                      
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Nombre:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>  
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Valor salario:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.vrSalario, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>                
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Valor hora diurna:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.vrHoraDiurna, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>                  
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Valor hora nocturna:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.vrHoraNocturna, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>                
            </div>
        </div>               
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_tur_base_lista_precio') }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}