{% extends '::base2.html.twig' %}
{% block title %}Cierre mes - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Cierre mes: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Procesos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Cierre mes</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}

        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>ID</th>
                <th>ANIO</th>
                <th>MES</th>
                <th>COMERCIAL</th>                
                <th></th>
                <th>OPERATIVO</th>                
                <th></th>
                <th></th>
            </tr>
            {% for arCierreMes in arCierreMes %}
                <tr>
                    <td>{{ arCierreMes.codigoCierreMesPk  }}</td>
                    <td>{{ arCierreMes.anio  }}</td>
                    <td>{{ arCierreMes.mes }}</td>                
                    {% if arCierreMes.estadoGeneradoComercial == 0 %}
                        <td><button class="btn btn-default btn-xs" type="submit" name="OpGenerarComercial" value="{{ arCierreMes.codigoCierreMesPk }}">Generar</button></td>                        
                    {% else %}
                        <td>{% if arCierreMes.estadoCerradoComercial == 0 %}<button class="btn btn-default btn-xs" type="submit" name="OpDeshacerComercial" value="{{ arCierreMes.codigoCierreMesPk }}">Deshacer</button>{% endif %} Generado: {{ arCierreMes.fechaGeneradoComercial|date('Y/m/d H:i')  }} </td>                                                                                                                                                                       
                    {% endif %}
                    <td>{% if arCierreMes.estadoGeneradoComercial == 1 and arCierreMes.estadoCerradoComercial == 0 %}<button class="btn btn-default btn-xs" type="submit" name="OpCerrarComercial" value="{{ arCierreMes.codigoCierreMesPk }}">Cerrar</button>{% else %} Cerrado: {{ arCierreMes.fechaCerradoComercial|date('Y/m/d H:i')  }} {% endif %}</td>                        
                    {% if arCierreMes.estadoGenerado == 0 %}
                        <td><button class="btn btn-default btn-xs" type="submit" name="OpGenerar" value="{{ arCierreMes.codigoCierreMesPk }}">Generar</button></td>                        
                    {% else %}
                        <td>{% if arCierreMes.estadoCerrado == 0 %}<button class="btn btn-default btn-xs" type="submit" name="OpDeshacer" value="{{ arCierreMes.codigoCierreMesPk }}">Deshacer</button>{% endif %} Generado: {{ arCierreMes.fechaGenerado|date('Y/m/d H:i')  }}</td>                                                                                                                                                                       
                    {% endif %}                    
                    <td>{% if arCierreMes.estadoGenerado == 1 and arCierreMes.estadoCerrado == 0 %}<button class="btn btn-default btn-xs" type="submit" name="OpCerrar" value="{{ arCierreMes.codigoCierreMesPk }}">Cerrar</button>{% else %} Cerrado: {{ arCierreMes.fechaCerrado|date('Y/m/d H:i')  }}{% endif %}</td>                        
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arCierreMes.codigoCierreMesPk }}" /></td>
                </tr>
            {% endfor %}
        </table>  
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_tur_proceso_cierre_mes_nuevo', {'codigoCierreMes': 0}) }}">Nuevo</a>
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
            </div>            
        </div>    
        <blockquote>
            <p>Recuerde: </p>
            <footer>Debe generar el cierre comercial al terminar el mes, con este proceso se bloquea cualquier accion
            comercial sobre el sistema, no se pueden crear/editar pedidos de este periodo</footer>
            <footer>El proceso de cierre comercial genera un corte de pedidos pendientes por facturar y su
            posterior contabilizacion</footer>            
        </blockquote>             
            
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
