{% extends '::base_sin_menu.html.twig' %}
{% block title %}Programaci贸n de pago agregar empleado - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Programaci贸n pago: agregar empleado</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Programaci贸n pago</a></li>
            <li class="active">Agregar empleado</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <div class="panel panel-default">
            <div class="panel-heading">Informacion empleado</div>
            <div class="panel-body">
                <div>                      
                    <div class="form-group form-group-sm">
                        <label for="form_numeroIdentificacion" class="col-sm-2 control-label">Identificaci贸n:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.numeroIdentificacion, { 'attr': {'class': 'form-control', 'visible': 'false'} }) }}
                        </div>
                    </div>                                
                </div>                                            
            </div>
        </div>                   
        <div class="modal-footer">        
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
        </div>    
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}