{% extends '::base_sin_menu.html.twig' %}
{% block title %}Cargar soporte de turnos - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Programacion pago: cargar soporte turno</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Programacion pago</a></li>
            <li class="active">Cargar soporte turno</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CODIGO</th>
                <th>GRUPO</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th>RECURSOS</th>
                <th></th>                
            </tr>
            {% for arSoportePagoPeriodos in arSoportePagoPeriodos %}
                <tr>
                    <td>{{ arSoportePagoPeriodos.codigoSoportePagoPeriodoPk  }}</td>
                    <td>{{ arSoportePagoPeriodos.centroCostoRel.nombre | default('')  }}</td>
                    <td>{{ arSoportePagoPeriodos.fechaDesde |date("Y/m/d")  }}</td>
                    <td>{{ arSoportePagoPeriodos.fechaHasta |date("Y/m/d")  }}</td>  
                    <td style="text-align: right">{{ arSoportePagoPeriodos.recursos | number_format(0, '.', ',') }}</td>
                    {% if arSoportePagoPeriodos.inconsistencias == 0 and arSoportePagoPeriodos.estadoAprobadoPagoNomina == 1 %}
                        <td><button class="btn btn-default btn-xs" type="submit" name="OpCargar" value="{{ arSoportePagoPeriodos.codigoSoportePagoPeriodoPk }}">Cargar</button></td>
                    {% else %}
                        <td>
                            {% if arSoportePagoPeriodos.inconsistencias == 1 %}
                                Inconsistencias 
                            {% endif %}
                            {% if arSoportePagoPeriodos.estadoAprobadoPagoNomina == 0 %}                            
                                Sin aprobar para pago nomina
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
        </table>       
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}