{% extends '::base_sin_menu.html.twig' %}
{% block title %}Programacion de pago inconsistencias - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Programacion de pago: inconsistencias</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Programacion de pago</a></li>
            <li class="active">Iinconsistencias</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>CÓDIGO</th>
                <th>INCONSISTENCIA</th>
            </tr>
            {% for arProgramacionPagoInconsistencias in arProgramacionPagoInconsistencias %}
                <tr>
                    <td><input type="hidden" name="LblCodigo[]" value="{{ arProgramacionPagoInconsistencias.codigoProgramacionPagoInconsistenciaPk }}">{{ arProgramacionPagoInconsistencias.codigoProgramacionPagoInconsistenciaPk }} </td>
                    <td>{{ arProgramacionPagoInconsistencias.inconsistencia  }}</td>
                </tr>
            {% endfor %}                        
        </table>  
        <div class="modal-footer">        
            {{ form_widget(form.BtnLimpiar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
        </div>     
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}