{% extends '::base2.html.twig' %}
{% block title %}Cartera nota credito nuevo - Soga App{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
 <section class="content-header">
        <h1>
            Cartera
            <small>Nota credito: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Cartera</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Nota credito</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body"> 
                <div class="form-group form-group-sm">
                    <label for="txtNit" class="col-sm-3 control-label">Cliente:</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <input id="txtNit"  name="txtNit"  type="text" class="form-control" value="{{ arNotaCredito.clienteRel.nit |default('') }}"/>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">                                      
                                    <input id="txtNombreCorto"  name="txtNombreCorto"  type="text" class="form-control" value="{{ arNotaCredito.clienteRel.nombreCorto |default('') }}" readOnly="ReadOnly" />
                                    <span class="input-group-btn">                                        
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_car_buscar_cliente', { 'campoCodigo': 'txtNit', 'campoNombre': 'txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
                <div class="form-group form-group-sm">
                    <label for="form_cuentaRel" class="col-sm-3 control-label">Cuenta:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.cuentaRel , { 'attr': {'class': 'form-control'} }) }}  
                    </div>
                </div>    

                <div class="form-group form-group-sm">
                    <label for="form_notaCreditoConceptoRel" class="col-sm-3 control-label">Concepto:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.notaCreditoConceptoRel, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>                
                </div>  
                <div class="form-group form-group-sm">
                    <label for="form_fechaPago" class="col-sm-3 control-label">Fecha pago:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.fechaPago) }}
                    </div>
                </div>    
                <div class="form-group">
                    <label for="form_comentarios" class="col-sm-3 control-label">Comentarios:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    </div>
                </div>                 
            </div>
        </div>               
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_car_movimiento_notacredito_listar') }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}