{% extends '::base2.html.twig' %}
{% block title %}Comprobantes de pago masivo - Soga App{% endblock %}
{% block content %}
        <section class="content-header">
        <h1>
        <h1>
            Recurso humano
            <small>Comprobante: generar comprobante pdf</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Utilidades</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Programaciones de pago</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Generar comprobantes pdf</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content"> 
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">Información a generar</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_numero" class="col-sm-2 control-label">Número programación pago:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.numero, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.zonaRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <label class="col-sm-2 control-label">Sub zona:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.subzonaRel, { 'attr': {'class': 'form-control'} }) }}
                </div>                
            </div>   
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha desde:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.fechaDesde) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha hasta:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.fechaHasta) }}
                </div>
            </div>                     
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Por fecha:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.porFecha) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Centro costo:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.centroCostoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>                
                <label class="col-sm-2 control-label">Dato:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.dato, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>                    
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.BtnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                </div>
            </div>    
        </div>        
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
            <br/><br/><br/><br/>
    </section>  
{% endblock %}
