{% extends '::base2.html.twig' %}
{% block title %}Pago concepto nuevo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Concepto de pago: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> General</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Concepto de pago</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>
    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Porcentaje:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.porPorcentaje, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Porcentaje horas extra:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.porPorcentajeTiempoExtra, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>                    
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Operación:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.operacion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo adicional:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.tipoAdicional, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.componeSalario) }}</div>
                        <div class="col-sm-2">{{ form_row(form.componeValor) }}</div>
                        <div class="col-sm-2">{{ form_row(form.prestacional) }}</div>
                        <div class="col-sm-2">{{ form_row(form.generaIngresoBasePrestacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.generaIngresoBaseCotizacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoAdicion) }}</div>
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.conceptoIncapacidad) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoPension) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoSalud) }}</div>
                        <div class="col-sm-2">{{ form_row(form.recargoNocturno) }}</div>
                        <div class="col-sm-2">{{ form_row(form.horaExtra) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoAuxilioTransporte) }}</div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.provisionIndemnizacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.provisionVacacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoFondoSolidaridadPensional) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoCesantia) }}</div>
                        <div class="col-sm-2">{{ form_row(form.conceptoRetencion) }}   </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_pago_concepto_lista') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
