{% extends '::base2.html.twig' %}
{% block title %}Comprobantes de pago masivo - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>programacion: descarga masiva</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Utilidad</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Programaciones</a></li>
            <li class="active">Descarga Masiva</li>
        </ol>
    </section>    
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}

        <div class="panel panel-default">
            <div class="panel-heading">Información a generar</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.fechaDesde) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.fechaHasta) }}
                    </div>
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>    
            </div>        
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
