{% extends '::base_sin_menu.html.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
   <section class="content-header">
        <h1>
            Programacion turnos
            <small>Clientes: proyecto nuevo</small>
        </h1>
    </section>      
    <section class="content"> 
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">                            
                <div class="form-group form-group-sm">
                    <label for="form_nombre" class="col-sm-3 control-label">Nombre:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}                        
                    </div>                
                </div>                  
            </div>
        </div>                                    
        <div class="modal-footer">        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}