{% extends '::base_sin_menu.html.twig' %}
{% block title %}Contrato nuevo - Soga App{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            Recurso humano
            <small>Empleado: nuevo contrato</small>
        </h1>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {% if intEstado == 1 %}
            {% set div = 'none' %}
        {% else %}
            {% set div = 'show' %}
        {% endif %}
        {% if intEstado == 2 %}
            {% set div = 'none' %}
        {% else %}
            {% set div = 'show' %}
        {% endif %}
        <div style="display: {{div}};">
            <div class="panel panel-default">
                <div class="panel-heading">Información general</div>
                <div class="panel-body">   
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Tipo:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.contratoTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                        </div>
                    </div>    
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Grupo pago:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.centroCostoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Tiempo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.tipoTiempoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Ciudad contratación:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.ciudadContratoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Ciudad labora:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.ciudadLaboraRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Cargo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cargoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Descripcion:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cargoDescripcion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control', 'maxlength':'36'} }) }}
                        </div>                        
                    </div>                                
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Fecha inicio:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaDesde, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Tipo salario:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.salarioTipoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                         
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Fecha Hasta:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.fechaHasta, { 'attr': {'class': 'form-control'} }) }} 
                        </div>
                        <label class="col-sm-2 control-label">Salario:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.vrSalario, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">{{ form_row(form.auxilioTransporte) }}</div>
                            <div class="col-sm-4">{{ form_row(form.salarioIntegral) }}</div>
                            <div class="col-sm-4">{{ form_row(form.limitarHoraExtra) }}</div>
                        </div>
                    </div>     
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Horario trabajo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.horarioTrabajo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Grupo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.contratoGrupoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>       
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Comentarios:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                        </div>
                    </div>                 
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Informacion seguridad social</div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Tipo cotizante:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.ssoTipoCotizanteRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Subtipo cotizante:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.ssoSubtipoCotizanteRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>                             
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Tipo salud:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.tipoSaludRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Entidad:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.entidadSaludRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>            

                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Tipo pension:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.tipoPensionRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Entidad:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.entidadPensionRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>                             
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Caja compensación:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.entidadCajaRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Cesantia:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.entidadCesantiaRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Clasificacion riesgo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.clasificacionRiesgoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">C_Trabajo:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.centroTrabajoRel, { 'attr': {'class': 'form-control'} }) }}
                        </div>                        
                    </div>                        
                </div>
            </div>  


            {#     <div class="panel panel-default">
                     <div class="panel-heading">Informacion Comercial</div><br>
                     <div class="panel-body">
                         <div class="form-group form-group-sm">
                             <label for="form_entidadCesantiaRel" class="col-sm-3 control-label">Cliente:</label>
                             <div class="col-sm-9">
                                 <select id="cliente" name="cliente" class="form-control">
                                     {% if arContrato.codigoContratoPk != 0 %}
                                         {% if codigoCliente != 0 %}
                                             <option value="{{codigoCliente}}">{{cliente}}</option>
                                         {% else %}
                                             <option value="0">Seleccione uno...</option>
                                         {% endif %}    
                                     {% else %}     
                                         <option value="0">Seleccione uno...</option>
                                     {% endif %}
                                 </select>
                             </div> 
                         </div>
                         <div class="form-group form-group-sm">
                             <label for="form_entidadCesantiaRel" class="col-sm-3 control-label">Sucursal:</label>
                             <div class="col-sm-9">
                                 <select id="sucursal" name="sucursal" class="form-control">
                                     {% if arContrato.codigoContratoPk != 0 %}
                                         {% if codigoSucursal != 0%}
                                             <option value="{{codigoSucursal}}">{{sucursal}}</option>
                                         {% else %}
                                             <option value="0">Seleccione uno...</option>
                                         {% endif %}  
                                     {% else %}     
                                         <option value="0">Seleccione uno...</option>
                                     {% endif %}
                                 </select>
                             </div> 
                         </div>
                         <div class="form-group form-group-sm">
                             <label for="form_entidadCesantiaRel" class="col-sm-3 control-label">Centro trabajo:</label>
                             <div class="col-sm-9">
                                 <select id="centro" name="centro" class="form-control">
                                     {% if arContrato.codigoContratoPk != 0 %}
                                         {% if codigoCentroTrabajo != null%}
                                             <option value="{{codigoCentroTrabajo}}">{{centroTrabajo}}</option>
                                         {% else %}
                                             <option value="0">Seleccione uno...</option>
                                         {% endif %}
                                     {% else %}     
                                             <option value="0">Seleccione uno...</option>
                                     {% endif %}
                                     </select>
                                 </div> 
                             </div>
                         </div>
                     </div> #}
            <div class="panel panel-default">
                <div class="panel-heading">Informacion turnos</div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Secuencia:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.secuencia, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <label class="col-sm-2 control-label">Devengado pactado:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.vrDevengadoPactado, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>     
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">{{ form_row(form.turnoFijoOrdinario) }}</div>
                        </div>
                    </div>                           
                </div>
            </div>                 
            <div class="modal-footer">              
                {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
            </div>    
            {{ form_end(form) }}
        </div>
        <br/><br/><br/><br/>
    </section>
{% endblock %}