{% extends '::base2.html.twig' %}
{% block title %}Consulta pendientes facturar - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programacion turnos
            <small>Pedido/factura: Comparativo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programacion turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Consulta</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Pedido/factura</a></li>
            <li class="active">Comparativo</li>
        </ol>
    </section>    
    <section class="content"> 
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div     class="form-group form-group-sm">
                    <label for="txtNit" class="col-sm-2 control-label">Cliente:</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    {{ form_widget(form.TxtNit, { 'attr': {'class': 'form-control'} }) }}                              
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="input-group">     
                                    {{ form_widget(form.TxtNombreCliente, { 'attr': {'class': 'form-control', 'readOnly': 'ReadOnly'} }) }}                              
                                    <span class="input-group-btn">                                        
                                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_buscar_cliente', { 'campoCodigo': 'form_TxtNit', 'campoNombre': 'form_TxtNombreCliente' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 

                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumero" class="col-sm-2 control-label">Numero factura:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.TxtNumero, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label for="form_facturaTipoRel" class="col-sm-2 control-label">Tipo factura:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.facturaTipoRel, { 'attr': {'class': 'form-control'} }) }}
                    </div> 
                </div>    
                <div class="form-group form-group-sm">  
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Desde factura:</label>
                    <div class="col-sm-4">  
                        {{ form_widget(form.fechaDesde) }}
                    </div>
                    <label for="form_estadoAnulado" class="col-sm-2 control-label">Factura anulado:</label>
                    <div class="col-sm-4">  
                        {{ form_widget(form.estadoAnulado) }}
                    </div> 
                </div>                    
                <div class="form-group form-group-sm">  
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta factura:</label>
                    <div class="col-sm-4">   
                        {{ form_widget(form.fechaHasta) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumero" class="col-sm-2 control-label">Filtrar por fecha:</label>
                    <div class="col-sm-4"> 
                        {{ form_widget(form.filtrarFecha) }}
                    </div>                  
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>NIT</th>
                <th>CLIENTE</th>
                <th>PUESTO</th>
                <th>SERVICIO PED</th>
                <th><p data-toggle="tooltip" data-placement="top" title="Fecha pedido">FECHA PED</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Numero pedido">NUM PED</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="valor pedido">VR PED</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Tipo factura">TIPO FACT</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Servicio factura">SERVICIO FACT</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Fecha factura">FECHA FACT</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Numero factura">NUM FACT</p></th>
                <th><p data-toggle="tooltip" data-placement="top" title="Valor factura">VR FACT</p></th>
            </tr>
            {% for arFacturasDetalles in arFacturasDetalles %}
                <tr>
                    <td>{{arFacturasDetalles.facturaRel.clienteRel.nit | default('')}}</td> 
                    <td>{{arFacturasDetalles.facturaRel.clienteRel.nombreCorto | default('')}}</td> 
                    <td>{{arFacturasDetalles.pedidoDetalleRel.puestoRel.nombre | default('')}}</td>
                    <td>{{arFacturasDetalles.pedidoDetalleRel.conceptoServicioRel.nombre | default('')}}</td>
                    <td>{{arFacturasDetalles.pedidoDetalleRel.pedidoRel.fecha | date('Y/m/d')}}</td> 
                    <td>{{arFacturasDetalles.pedidoDetalleRel.pedidoRel.numero }}</td> 
                    <td>{{arFacturasDetalles.pedidoDetalleRel.vrTotalDetalle | number_format(0, '.', ',') }}</td> 
                    <td>{{arFacturasDetalles.facturaRel.facturaTipoRel.nombre | default('')}}</td> 
                    <td>{{arFacturasDetalles.conceptoServicioRel.nombre | default('')}}</td>
                    <td>{{arFacturasDetalles.facturaRel.fecha | date('Y/m/d')}}</td> 
                    <td>{{arFacturasDetalles.facturaRel.numero}}</td> 
                    <td>{{arFacturasDetalles.total | number_format(0, '.', ',')}}</td> 
                </tr>
            {% endfor %}
        </table>        

        <!-- Botones Menu Items -->
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arFacturasDetalles.getTotalItemCount }}</span></div>                        
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arFacturasDetalles) }}       
        </div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">                                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
