{% extends '::base2.html.twig' %}
{% block title %}Documento nuevo - Soga App{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
     <section class="content-header">
        <h1>
            Inventario
            <small>Documento: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Inventario</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Tercero</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>   
    <section class="content">    
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Tipo de documento:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.documentoTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nombre) }}
                    </div>
                    <label class="col-sm-2 control-label">Abreviatura:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.abreviatura, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Operacion Inventario</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.operacionInventario, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Operacion Comercial</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.operacionComercial, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                    <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">{{ form_row(form.generaCartera) }}</div>
                        <div class="col-sm-2">{{ form_row(form.asignarConsecutivoCreacion) }}</div>
                        <div class="col-sm-2">{{ form_row(form.asignarConsecutivoImpresion) }}</div>
                    </div>
                </div>    
            </div>
        </div>           
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_inv_base_documento') }}">Cancelar</a>
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
