{% extends '::base2.html.twig' %}
{% block title %}Incapacidad diagnosticos lista - Soga App{% endblock %} 
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Incapacidad diagnostico: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Salud ocupacional</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Incapacidad diagnostico</a></li>
            <li class="active">lista</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">  
                    <label for="form_TxtCodigo" class="col-sm-2 control-label">Codigo Interface:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtCodigo , { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    </div>                   
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNombre" class="col-sm-2 control-label">Nombre diagnostico:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtNombre , { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                    </div>                   
                </div>   
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>

                <th>CÓDIGO</th>
                <th>{{ knp_pagination_sortable(arIncapacidadDiagnosticos, 'NOMBRE', 'codigo') }}</th>
                <th>CODIGO INTERFACE</th>
                <th></th>
                <th></th>
            </tr>

            {%for arIncapacidadDiagnosticos in arIncapacidadDiagnosticos %}
                <tr>
                    <td>{{ arIncapacidadDiagnosticos.codigoIncapacidadDiagnosticoPk }}</td>
                    <td>{{ arIncapacidadDiagnosticos.nombre }}</td>
                    <td>{{ arIncapacidadDiagnosticos.codigo }}</td>
                    <td><a href="{{ path('brs_rhu_base_incapacidaddiagnostico_nuevo',{'codigoIncapacidadDiagnosticoPk': arIncapacidadDiagnosticos.codigoIncapacidadDiagnosticoPk})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arIncapacidadDiagnosticos.codigoIncapacidadDiagnosticoPk }}" /></td>
                    {%endfor%}
            </tr>
        </table>
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arIncapacidadDiagnosticos.getTotalItemCount }}</span></div>
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arIncapacidadDiagnosticos) }}
        </div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_incapacidaddiagnostico_nuevo', {'codigoIncapacidadDiagnosticoPk': 0}) }}">Nuevo</a>
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}