{% extends '::base2.html.twig' %}
{% block title %}Incapacidad diagnosticos nuevo - Soga App{% endblock %} 
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Incapacidad diagnostico: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Administracion</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Salud ocupacional</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Incapacidad diagnostico</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content">        	
        {{ form_start(formIncapacidadDiagnostico, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(formIncapacidadDiagnostico) }}
        <div class="panel panel-default">
            <div class="panel-heading">Informacion general</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        {{ form_widget(formIncapacidadDiagnostico.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()', 'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Codigo:</label>
                    <div class="col-sm-10">
                        {{ form_widget(formIncapacidadDiagnostico.codigo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()', 'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_incapacidaddiagnostico') }}">Cancelar</a>
            {{ form_widget(formIncapacidadDiagnostico.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>            
        {{ form_end(formIncapacidadDiagnostico) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
