{% extends '::base2.html.twig' %}
{% block title %}Documentos lista - Soga App{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inventario
            <small>Entrada: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Inventario</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Entrada</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content">   
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th></th>                
            </tr>
            {% for arDocumentos in arDocumentos %}
                <tr>                                             
                    <td>{{ arDocumentos.codigoDocumentoPk  }}</td>             
                    <td>{{ arDocumentos.nombre  }}</td>             
                    <td style="text-align: center"><a href="{{ path('brs_inv_movimiento_movimiento_lista', { 'codigoDocumento': arDocumentos.codigoDocumentoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                                
                </tr>

            {% endfor %}
        </table> 

    </div>
    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arDocumentos) }}       
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <br/><br/><br/><br/>
</section>
{% endblock %}
