{% extends '::base2.html.twig' %}
{% block title %}Intercambio ardid contrato - Soga App{% endblock %}
{% block content %}
        <section class="content-header">
        <h1>
            Recurso humano
            <small>Programaciones: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimiento</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content"> 
    <div class="page-header">
        <h3>Sincronizar contratos (Ardid)</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.BtnSincronizar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
            {{ form_widget(form.BtnSincronizarProgramacion, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
        </div>
    </div>          
    {{ form_rest(form) }}
    {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>      
{% endblock %}

