{% extends '::base2.html.twig' %}
{% block title %}Información interna lista - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Información interna: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-group"></i> Recurso humano</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Movimientos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Información interna</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>    
    <section class="content">        	        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }} 
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>{{ knp_pagination_sortable(arEmpleadoInformacionInterna, 'CÓDIGO', 'codigo') }}</th>
                <th>IDENTIFICACIÓN</th>
                <th>EMPLEADO</th>
                <th>TIPO INFORMACIÓN INTERNA</th>
                <th>FECHA</th>
                <th>COMENTARIOS</th>
                <th></th>
            </tr>
            {%for arEmpleadoInformacionInterna in arEmpleadoInformacionInterna %}
                <tr>
                    <td>{{arEmpleadoInformacionInterna.codigoEmpleadoInformacionInternaPk}}</td>
                    <td>{{arEmpleadoInformacionInterna.empleadoRel.numeroIdentificacion}}</td>
                    <td>{{arEmpleadoInformacionInterna.empleadoRel.nombreCorto}}</td>
                    <td>{{arEmpleadoInformacionInterna.empleadoInformacionInternaTipoRel.nombre}}</td>
                    <td>{{arEmpleadoInformacionInterna.fecha | date('Y-m-d')}}</td>
                    <td>{{arEmpleadoInformacionInterna.comentarios}}</td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arEmpleadoInformacionInterna.codigoEmpleadoInformacionInternaPk }}" /></td>
                    {%endfor%}
            </tr>            
        </table>
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Información interna <span class="badge">{{ arEmpleadoInformacionInterna.getTotalItemCount }}</span></div>                        
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arEmpleadoInformacionInterna) }}       
        </div>
        <div class="btn-toolbar" style="float: right">              
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_empleado_informacion_interna_nuevo', {'codigoInformacionInterna': 0}) }}">Nuevo</a>
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td>                   
            </div>
        </div>     
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}