{% extends '::base2.html.twig' %}
{% block title %}Programacion turnos - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Programación de turnos
            <small>Simulador de costos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Programación de turnos</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Utilidades</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-money"></i> Costos</a></li>
            <li class="active">Simulador</li>
        </ol>
    </section>
    <section class="content">
        {{form_start(form)}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Filtros de búsqueda
                        </div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-2">Desde</label>
                                <div class="col-sm-4">
                                    {{form_widget(form.desde, {attr: {class : 'fix-input'} })}}
                                </div>       
                                <label class="control-label col-sm-2">Hasta</label>
                                <div class="col-sm-4">
                                    {{form_widget(form.hasta)}}
                                </div>
                            </div>
                            <div class="text-right">                                
                                {{form_widget(form.BtnSimular, {attr: {class: 'btn-sm btn-default'} } )}}
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover tabla-turnos table-condensed">
                            <tbody>
                                <tr>
                                    <th>&nbsp;</th>
                                    {% for dia in diasMes %}
                                    <th {{dia.esFestivo? 'class="dia-festivo"' : ''}}>{{dia.nombre|slice(0, 1)|upper}}</th>
                                    {% endfor %}
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr>
                                    <th>Recurso</th>
                                    {% for numero, dia in diasMes %}
                                    <th {{dia.esFestivo? 'class="dia-festivo"' : ''}}>{{numero < 10? '0' ~ numero : numero }}</th>
                                    {% endfor %}
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                {% if arProgramacionSimulador|length == 0 %}
                                    <tr>
                                        <td colspan="{{diasMes|length + 2}}" class="text-center">No hay recursos para la simulación</td>
                                    </tr>
                                {% else %}
                                    {% set contador = 1000 %}
                                    {% for arProgramacionSimulador in arProgramacionSimulador %}
                                    <tr>
                                        <td>{{arProgramacionSimulador.recursoRel.nombreCorto}}</td>
                                        {% for numero, dia in diasMes %}
                                            <td class="turno{{dia.esFestivo? ' dia-festivo' : ''}}">
                                                <input name="dias[{{arProgramacionSimulador.codigoSimulacionPk}}][{{dia.fecha}}]" tabindex="{{contador}}" class="input-grid dia-programacion" value="{{arProgramacionSimulador.getDia(dia.numero)}}">
                                            </td>
                                            {% set contador = contador + 1 %}
                                        {% endfor %}
                                        {% if mostrarDetalles is defined %}
                                        <td>
                                            
                                        </td>
                                        {% endif %}
                                        <td>
                                            <a href="{{path('brs_tur_utilidad_costo_simulador', {simulacionId:arProgramacionSimulador.codigoSimulacionPk})}}"><img src="/vanadio/web/imagenes/bootstrap/glyphicons_152_new_window.png" width="22" height="22"></a>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="recursosABorrar[]" value="{{arProgramacionSimulador.codigoSimulacionPk}}" />
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    {{form_widget(form.BtnAgregar, {attr: {class: 'btn-sm btn-default'} })}}
                    {{form_widget(form.BtnActualizar, {attr: {class: 'btn-sm btn-default'} })}}
                    {{form_widget(form.BtnEliminar, {attr: {class: 'btn-sm btn-danger'} })}}
                </div>
            </div>
        {{form_end(form)}}
    </section>
        {% if mostrarModal == true %}
    <div class="modal fade modal-wide-1" id="modal-detalle-recurso">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detalles del recurso</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-condensed table-hover">
                        <tbody>
                            <tr>
                                <th>Dia/Horas</th>
                                <th>H. Diurnas</th>
                                <th>H. Diurnas Extra</th>
                                <th>H. Nocturnas</th>
                                <th>H. Nocturnas Extra</th>
                                <th>H. Festivas Diu</th>
                                <th>H. Festivas Noc</th>
                                <th>H. Festivas Diu Extra</th>
                                <th>H. Festivas Noc Extra</th>
                            </tr>                            
                            
                            {% for arDetalle in arrDetalles['horas'] %}
                            <tr {{arDetalle['esFestivo']? 'class="dia-festivo"' : ''}}>
                                <td>{{arDetalle['fecha']}}</td>
                                <td class="text-right">{{arDetalle['ordDiurnas']}}</td>
                                <td class="text-right">{{arDetalle['ordDiuExtras']}}</td>
                                <td class="text-right">{{arDetalle['ordNocturnas']}}</td>
                                <td class="text-right">{{arDetalle['ordNocExtras']}}</td>
                                <td class="text-right">{{arDetalle['fesDiurnas']}}</td>
                                <td class="text-right">{{arDetalle['fesDiuExtras']}}</td>
                                <td class="text-right">{{arDetalle['fesNocturnas']}}</td>
                                <td class="text-right">{{arDetalle['fesNocExtras']}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>Total</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_diu']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_noc']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_noc']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_noc_ext']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_fes_diu']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_fes_diu_ext']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_fes_noc']}}</th>
                                <th class="text-right">{{arrDetalles['totales']['tot_fes_noc_ext']}}</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        jQuery(function(){
            
        {% if mostrarModal == true %}
            $("#modal-detalle-recurso").modal("show");
        {% endif %}
            
            $("#form_BtnAgregar").click(function(){
                abrirVentana('{{ path('brs_tur_utilidad_costo_simulador_agregar') }}');
                return false;
            });
        });
    </script>
{% endblock %}